{% extends "base_generic.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <h1>Fill in the Form</h1>
  <form action="" method="post">
        {% csrf_token %}
      <div class="row">
      <div class="col-6">
        {{ form.outcome|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.activity|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.sub_activity|as_crispy_field }}
        </div>
            <div class="col-6">
        {{ form.cost|as_crispy_field }}
        </div>
    </div>
{#    {{ form.cost|as_crispy_field }}#}
    {{ form.description|as_crispy_field }}
{#    <table>#}
{#    {{ form.as_table }}#}
{#    </table>#}
     <button type="submit" class="btn btn-primary">Save person</button>
  </form>
{% endblock %}

