

{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block content %}
  <form method="post" novalidate>
    {% csrf_token %}
    <div class="row">
      <div class="col-6">
        {{ form.outcome|as_crispy_field }}
      </div>
      <div class="col-6">
        {{ form.cost|as_crispy_field }}
      </div>
          <div class="col-6">
            {{ form.activity|as_crispy_field }}
      </div>
          <div class="col-6">
        {{ form.sub_activity|as_crispy_field }}
      </div>
    </div>
      {{ form.description|as_crispy_field }}
    <button type="submit" class="btn btn-success">Save person</button>
  </form>
{% endblock %}