{% extends "base.html" %}

{% block content %}

<div class="container" style="margin-top:30px">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Us</h2>
                <img src="../static/img/logo.png" class="rounded mx-auto d-block" alt="Author" width="150" height="150">
                <!-- <div class="fakeimg">Fake Image</div> -->
                <p>As of 2014, WFP started to analyse and quantify its investments in activities promoting gender equality
                    and the empowerment of women. Building on this experience, all Country Offices (COs),
                    Regional Bureaux (RBs) and Headquarters divisions are asked to provide project-level financial estimates and analyses
                    for gender-related activities that resulted in expenditures in 2016 projects. <a href="https://newgo.wfp.org/documents/gender-expenditure-analysis-gea-2016-guidance-note">Read More</a></p>
                <br>
                <hr />
                <br>
                <h3>Get Started</h3>
                <ul class="nav nav-pills flex-column">
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'activity_create' %}">Create Activity</a>
                    </li>
                   <li class="nav-item">
                    <a class="nav-link" href="{% url 'activities' %}">View Activities</a>
                   </li>


                </ul>
                <br>
                <hr />
                <br>
                <hr class="d-sm-none">
            </div>
            <div class="col-sm-8">
                <h2>Why This Application</h2>
{#                <small>Posted by Admin on August 24, 2019</small>#}
                <p>The CO inputs are to be submitted to the Regional Bureaux by 5 December.
                    The consolidated RB input is to be sent to the HQ.GenderHelpdesk@wfp.org by 12 December.
                    <a href="https://newgo.wfp.org/documents/gender-expenditure-analysis-gea-2016-guidance-note">Read More</a></p>
                <br>
                <hr />
                <br>
                <h2>Statistics</h2>
{#                <small>Posted by Admin on July 02, 2019</small>#}
                <img src="../static/img/stats.jpg" class="rounded mx-auto d-block" alt="Author" width="mx-auto"
                     height="150">
                <p>Welcome to Gender Tracking Tool, a website developed by <em>The BTU Solutions/Data Team</em>!
             The tracking tool has the following record counts:

    <li><strong>Activities:</strong> {{ num_activities }}</li>
    <li><strong>Activity Occurrence:</strong> {{ num_instances }}</li>

  </ul>
    <p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
. <a href="#">Read More</a></p>
            </div>
        </div>
    </div>


{% endblock %}